/* NAVBAR */
@media (max-width: 992px) {
    #grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 250px 5fr;
        grid-template-areas: 
        "navbar"
        "main-doc";
    }

    #navbar {

    }

    #header-nav {

    }
}