*, *::after, *::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

#grid-container {
    display: grid;
    grid-template-columns: minmax(300px, 1.3fr) 5fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "navbar main-doc";
}

/* NAVBAR */
#navbar {
    grid-area: navbar;
    position: sticky;
    top: 0;
    height: 97rem;
    border: 1px solid black;
}

#header-nav {
    padding: 2.5rem;
    text-align: center;
    font-size: clamp(3rem, 2vw, 3.5rem);
}

.nav-link {
    display: block;
    color: black;
    padding: 1.5rem;
    text-decoration: none;
    border-top: 1px solid black;
    font-size: clamp(1.9rem, 1.3vw, 2.5rem);
}

/* MAIN DOC */
#main-doc {
    padding: 3.5rem;
    border: 1px solid black;
}

.headline {
    font-size: clamp(2.5rem, 3vw, 3.5rem);
}

article {
    padding: 2rem;
    max-width: 150ch;
    font-size: clamp(1.4rem, 3vw, 1.7rem);
}

article ul {
    padding: 0.5rem;
    margin-left: clamp(0.5rem, 4vw, 6rem);
}

article code {
    display: block;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: #F7F7F7;
}